* {
  color: #252525;
}

body {
  background-color: #eceff4;
}

#meme-text {
  position: absolute;
  color: red;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  max-width: 400px;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

#text-input {
  margin-left: 70px;
}

h1 {
  font-size: 30px;
}

.container {
  text-align: center;
}

input {
  margin: 5px 0 15px 0;
}

#earth {
  background-color: green;
  border-radius: 4px;
  border: 1px solid black;
}

#water {
  background-color: blue;
  border-radius: 4px;
  border: solid 1px black;
}

#fire {
  background-color: red;
  border-radius: 4px;
  border: 1px solid black;
}

button {
  padding: 5px 20px;
  margin: 5px 10px;
  color: white;
}

#meme-image-container {
  max-width: 400px;
  max-height: 400px;
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
}
