body {
  margin: 0px;
  padding: 0px;
}

p {
  display: inline-block;
}

#meme-image-container {
  width: 500px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
}

#meme-image {
  position: absolute;
  height: 500px;
  width: 500px;
  padding: 0px;
  margin: 0px;
}

#meme-text {
  position: absolute;
  width: 490px;
  margin: 0px;
  padding: 0px;
  left: 10px;
  top: 500px;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  overflow-wrap: break-word;
}
