#meme-image-container {
  position: absolute;
  height: 300px;
  width: 250px;
  border: 1px solid black;
  background-color: white;
}

#meme-text {
  position: absolute;
  bottom: 0;
}

#meme-image {
  position: relative;
  height: 300px;
  width: 250px;
}

div {
  line-height: 2em;
}
