html {
  background-color: white;
}

body {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  background-color: white;
  box-shadow: 20px 20px 10px rgb(235 , 235 , 235);
}

.meme-image-container {
  border: 1px solid black;
  width: 600px;
  height: 600px;
  background-color: white;
  margin: auto;
}

#meme-image {
  width: 600px;
  height: 600px;
  z-index: 0;
}

#meme-text {
  color: white;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  text-shadow: 5px 5px 5px black;
  margin-top: 450px;
  font-family: Impact , Haettenschweiler , sans-serif;
}

input {
  margin: 30px;
  padding: 10px;
}

.fire {
  border: 3px dashed red;
}

.water {
  border: 5px double blue;
}

.earth {
  border: 6px groove green;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.img-meme {
  width: 150px;
  height: 150px;
  padding: 10px;
}

button {
  display: inline-block;
  margin: 10px;
  padding: 12px 40px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
